<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<main>
		<div class="person">
			<img src="nathan.JPG" alt="Person 1">
			<h2>John Smith</h2>
			<p>Sample text</p>
		</div>
		<div class="person">
			<img src="./pics/alex.jpg" alt="Person 2">
			<h2>Alex Danilkovas</h2>
			<p>Sample text</p>
		</div>
		<!-- <div class="person">
			<img src="pics/person3.jpg" alt="Person 3">
			<h2>Mark Johnson</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus augue in libero molestie, id rutrum metus tristique. Nam mattis ligula vel magna ullamcorper pretium. Sed ac sapien vel odio bibendum egestas ac et quam. Donec tristique lectus eu nibh eleifend, nec dapibus ex lobortis. Nullam in sapien et velit faucibus consequat nec vel elit.</p>
		</div> -->
	</main>
</body>
</html>