<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<main>
		<div class="person">
			<img src="nathan.JPG" alt="Person 1">
			<h2>Nathan Subramanian</h2>
			<p>Sample text</p>
		</div>
		<div class="person">
			<img src="../pics/alex.jpg" alt="Person 2">
			<h2>Alex Danilkovas</h2>
			<p>Sample text</p>
		</div>
		<div class="person">
			<img src="pics/person3.jpg" alt="Person 3">
			<h2>Marsyl Viernes</h2>
			<p>Sample text</p>
		</div>
	</main>
</body>
</html>